/*
-----------------------------------------------
imarketsolutions.com 
Stylesheet: Popup.css
Created: 8/28/2013
Author:  Ben Schiling
Organization:	iMarket Solutions
----------------------------------------------- */

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- BEGIN POPUP --------------------------------------------------------------------------------------------------------------------------------- */

html body {
  background: #FFF;
  min-width: 0;
  padding: 20px;
}

#content {
  background: none;
  margin: 0;
  overflow: visible;
  width: auto;
}


/* --- POPUP --------------------------------------------------------------------------------------------------------------------------------- */
/* --- PROMOTIONS --------------------------------------------------------------------------------------------------------------------------------- */


div.promotions-item-details-wrapper {
  border: 3px dashed #000000;
  margin: 0 auto;
  width:90%;
  min-width: 420px;
}


/* --- END POPUP --------------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
