.slick-slider {
  margin-bottom: 30px
}

body,
div,
dl,
fieldset,
form,
h2,
input,
li,
p,
ul {
  margin: 0;
  padding: 0
}

*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

a img,
fieldset {
  border: 0 solid transparent
}

body,
html {
  height: 100%
}

body {
  font: 62.5%/1.8em Lato, 'Helvetica Neue', Helvetica, sans-serif;
  background: #fff;
  background-repeat: repeat;
  background-position: top center;
  background-size: auto auto;
  text-align: left;
  min-width: 320px
}

#container-all {
  overflow: hidden;
  position: relative
}

.width-limiter {
  max-width: 1230px;
  margin: 0 auto;
  width: 97%
}

@media all and (max-width:800px) {
  html {
    -webkit-text-size-adjust: 100%
  }

  .width-limiter {
    width: 100%
  }
}

#accessibility {
  position: absolute;
  left: -999em
}

h2 {
  font-family: Halant;
  color: #26587b;
  font-weight: 700;
  line-height: 1.15em;
  margin: 1.2em 0 .7em
}

h2 a:link,
h2 a:visited {
  color: inherit;
  text-decoration: none
}

h2 a:active,
h2 a:hover {
  color: inherit;
  text-decoration: underline
}

li,
p {
  line-height: 1.6em
}

p {
  margin-bottom: 1.3em
}

ul {
  margin: 0 0 1.8em 3.6em;
  color: #000
}

ul ul {
  margin-bottom: 0
}

li li,
li p {
  font-size: 1em
}

dl {
  margin: 0 0 1.8em 0
}

h2,
li,
p {
  transition: all .3s ease
}

h2 {
  font-size: 3em
}

li,
p {
  font-size: 1.7em
}

@media all and (max-width:1025px) {
  h2 {
    font-size: 2.8em
  }

  li,
  p {
    font-size: 1.6em
  }
}

@media all and (max-width:800px) {
  h2 {
    font-size: 2.5em
  }

  li,
  p {
    font-size: 1.5em;
    line-height: 1.6em
  }
}

@media all and (max-width:570px) {
  h2 {
    font-size: 2.4em
  }
}

a img {
  border: 0
}

.bold {
  font-weight: 700
}

a:link,
a:visited {
  color: #26587b;
  text-decoration: none;
  outline: 0
}

a:hover {
  text-decoration: none;
  color: #429fba
}

a:active {
  text-decoration: none;
  color: #429fba
}

table {
  margin: 0 auto 1.8em auto
}

form fieldset input[type=tel],
form fieldset input[type=text] {
  border: 1px solid #cecece;
  border-radius: 5px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px
}

button,
input[type=submit],
label {
  cursor: pointer
}

button,
input[type=submit],
label {
  border: none;
  appearance: none
}

@media screen and (min-device-pixel-ratio:0) {
  input:focus {
    font-size: 16px
  }
}

.clear {
  clear: both
}

.show {
  display: block
}

button,
input[type=submit] {
  background: #429fba;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px
}

button:active,
button:hover,
input[type=submit]:active,
input[type=submit]:hover {
  background: #34739f;
  color: #fff
}

div.cta-button {
  background: 0 0
}

div.cta-button span {
  font-family: Lato;
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block
}

div.cta-button span a {
  display: inline-block;
  text-decoration: none;
  min-height: 45px;
  padding: 14px 15px 9px;
  border-radius: 4px;
  transition: color .2s ease, background-color .2s ease
}

div.cta-button span a:link,
div.cta-button span a:visited {
  color: #fff;
  background: #eb9830
}

div.cta-button span a:active,
div.cta-button span a:hover {
  color: #fff;
  background: #429fba
}

#container-masthead {
  position: relative;
  z-index: 1000;
  background: #fff
}

#masthead {
  overflow: hidden;
  position: relative;
  padding: 1px 0
}

#logo {
  margin: 10px auto 5px;
  max-width: 496px;
  position: relative
}

#logo img {
  width: 100%;
  height: auto;
  display: block
}

#tagline {
  color: #666;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0 .6em;
  text-align: center;
  line-height: 1.2em;
  font-style: italic
}

#phone-container {
  text-align: center
}

#phone-text {
  color: #eb982f;
  font-size: 1.4em;
  line-height: 1.15em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px
}

#fixed-header .phone-number,
#phone-number {
  font-family: Halant;
  font-size: 4em;
  font-weight: 700;
  line-height: .9em;
  margin: 0;
  color: #26587c;
  white-space: nowrap;
  letter-spacing: -.2px
}

#fixed-header .phone-number,
#fixed-header .phone-number a,
#fixed-header .phone-number span,
#phone-number,
#phone-number a,
#phone-number span {
  color: #26587c;
  text-decoration: none
}

#financing-available {
  color: #999;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.1px;
  text-align: center;
  padding-left: 20px
}

#ajaxSearch_input {
  height: 37px;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  border-color: #f0f0f0;
  border-width: 2px;
  color: #666;
  font-family: Lato;
  font-size: 17px;
  line-height: 1em;
  padding: 7px 42px 4px 15px
}

#ajaxSearch_form {
  position: relative;
  border-radius: 4px;
  overflow: hidden
}

#ajaxSearch_form label {
  display: block;
  width: 100%
}

#ajaxSearch_form label:nth-child(3),
#ajaxSearch_form label:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 0;
  width: 41px;
  height: 100%
}

#ajaxSearch_submit {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 41px;
  height: 100%;
  text-indent: -999em;
  text-align: left;
  border: none;
  border-left-width: 1px;
  background: 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-image: url(../images/icons/icon-search.png);
  color: #666;
  opacity: 1
}

#ajaxSearch_submit:active,
#ajaxSearch_submit:hover {
  background-color: transparent;
  opacity: .7
}

#masthead {
  transition: none
}

#logo,
#phone-container,
#tagline {
  transition: none
}

@media all and (min-width:801px) {
  #masthead {
    height: 195px
  }

  #logo {
    margin: 0
  }

  #container-logo {
    position: absolute;
    left: 50%;
    top: 48%;
    width: 40.3%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }

  #phone-container {
    position: absolute;
    left: 10px;
    top: 60%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 270px
  }

  #phone-number {
    margin: 7px 0 0 0
  }

  #tagline {
    margin: 0
  }

  #container-misc {
    position: absolute;
    right: 8px;
    top: 55%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: right;
    width: 205px
  }

  #container-misc div.cta-button span {
    text-align: right
  }

  #container-misc div.cta-button span a {
    display: block;
    text-align: center;
    max-width: 190px;
    margin: 0 0 0 auto
  }

  #container-cta-buttons {
    margin: 13px 0 8px
  }

  #financing-available {
    margin: 0
  }
}

@media all and (min-width:801px) and (max-width:1025px) {
  #phone-container {
    left: 0
  }

  #phone-text {
    font-size: 1.3em
  }

  #phone-number {
    font-size: 3.9em
  }

  #container-misc {
    right: 0
  }

  #container-logo {
    left: 53.5%;
    width: 38%
  }
}

@media all and (min-width:571px) and (max-width:800px) {
  #masthead {
    height: 215px
  }

  #logo {
    width: 100%;
    max-width: 95%;
    margin: 0 auto
  }

  #container-logo {
    position: absolute;
    top: 42%;
    left: 25%;
    width: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }

  #phone-container {
    position: absolute;
    top: 39%;
    left: 75%;
    width: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }

  #search-container {
    position: absolute;
    top: 3px;
    left: 75%;
    width: 40%;
    max-width: 250px;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  #container-cta-buttons {
    position: absolute;
    bottom: 48px;
    left: 75%;
    width: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  #container-payments {
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  #tagline {
    position: absolute;
    bottom: -104px;
    right: 150%;
    width: 75%;
    max-width: 250px;
    -ms-transform: translate(50%, 0);
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0)
  }
}

@media all and (max-width:570px) {
  #masthead {
    padding: 30px 15px 10px
  }

  #container-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px
  }

  #phone-container {
    margin: 15px 0
  }

  #search-container {
    max-width: 250px;
    margin: 0 auto 15px
  }

  #tagline {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto
  }

  #container-cta-buttons {
    margin-bottom: 15px
  }
}

@-webkit-keyframes opaque-transparent-opaque {
  0% {
    opacity: 1
  }

  1% {
    opacity: 0
  }

  50% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@-moz-keyframes opaque-transparent-opaque {
  0% {
    opacity: 1
  }

  1% {
    opacity: 0
  }

  50% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@-o-keyframes opaque-transparent-opaque {
  0% {
    opacity: 1
  }

  1% {
    opacity: 0
  }

  50% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@keyframes opaque-transparent-opaque {
  0% {
    opacity: 1
  }

  1% {
    opacity: 0
  }

  50% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes transparent-opaque {
  0% {
    opacity: 0
  }

  90% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-moz-keyframes transparent-opaque {
  0% {
    opacity: 0
  }

  90% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-o-keyframes transparent-opaque {
  0% {
    opacity: 0
  }

  90% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes transparent-opaque {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#fixed-header {
  height: 60px;
  position: fixed;
  z-index: 900;
  top: -60px;
  left: 0;
  width: 100%;
  background: #fff;
  background-repeat: repeat;
  background-position: top center;
  background-size: auto auto;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0 10px 9px rgba(0, 0, 0, .4);
  transition: top .3s ease, opacity .3s ease
}

#fixed-header .width-limiter {
  position: relative;
  height: 100%
}

#fixed-header .container-logo {
  position: absolute;
  top: 48%;
  left: 0;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#fixed-header .container-logo img {
  display: block;
  width: 264px;
  height: auto
}

#fixed-header .phone-container {
  position: absolute;
  top: 55%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  padding-left: 10px;
  padding-right: 10px
}

#fixed-header .phone-number {
  margin-bottom: 0
}

#fixed-header .cta-container {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 425px
}

#fixed-header .cta-container div.cta-button span {
  text-align: right
}

#fixed-header .cta-container {
  text-align: center
}

#fixed-header .cta-container div.cta-button {
  padding: 0 11.5px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -3px 0 0;
  width: 50%;
  min-width: 213px
}

#fixed-header .cta-container div.cta-button a {
  width: 100%;
  display: block;
  text-align: center
}

@media all and (min-width:801px) {
  .ims-is-scrolled:not(.active-navigation) #fixed-header {
    opacity: 1;
    top: 0;
    left: 0;
    height: 108px
  }
}

@media all and (max-width:1024px) {
  #fixed-header .phone-number {
    font-size: 4em
  }

  #fixed-header .cta-container {
    width: 260px
  }

  #fixed-header .phone-container {
    position: absolute;
    right: 47%
  }
}

@media all and (max-width:800px) {
  .ims-is-scrolled:not(.active-navigation) #fixed-header {
    opacity: 1;
    top: 0;
    left: 0;
    height: 60px
  }

  #fixed-header .container-logo {
    position: absolute;
    top: 50%;
    left: 50px;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-left: 0;
    padding-right: 0
  }

  #fixed-header .container-logo img {
    width: 129px
  }

  #fixed-header .cta-container {
    display: none
  }

  #fixed-header .phone-container {
    right: 0;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
  }

  #fixed-header .phone-number {
    font-size: 3em
  }
}

@media all and (max-width:570px) {
  .ims-is-scrolled:not(.active-navigation) #fixed-header {
    opacity: 1;
    top: 0;
    left: 0;
    height: 40px
  }

  #fixed-header .container-logo img {
    display: none
  }

  #fixed-header .phone-number {
    font-size: 2.3em;
    position: relative;
    top: 3px
  }

  #fixed-header .phone-container {
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    padding-left: 0;
    padding-right: 0
  }
}

@media all and (max-width:800px) {

  #container-masthead,
  #container-primary-navigation {
    transition: left .3s ease
  }

  #container-primary-navigation {
    height: 100%;
    left: -90%;
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 900
  }

  .active-navigation #container-primary-navigation {
    left: 0
  }

  #container-masthead {
    position: relative;
    left: 0
  }

  .active-navigation #container-masthead {
    left: 90%;
    position: relative
  }

  .active-navigation #container-masthead {
    box-shadow: none
  }
}

@media all and (min-width:801px) {
  #container-primary-navigation {
    position: relative;
    z-index: 800;
    background: #26587c
  }

  #container-primary-navigation::before {
    content: none;
    display: none;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    height: 87px;
    min-height: 100%;
    opacity: .79;
    background: #163b54;
    background: rgba(22, 59, 84, .1);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMyUiIHN0b3AtY29sb3I9IiMxNjNiNTQiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzE2M2I1NCIgc3RvcC1vcGFjaXR5PSIwLjg5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom, rgba(22, 59, 84, .9) 13%, rgba(22, 59, 84, .89) 14%, rgba(0, 0, 0, 0) 100%)
  }
}

#content {
  background: 0 0;
  overflow: visible;
  position: relative
}

#content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both
}

.secondary-tools ul {
  list-style-type: none;
  margin: 10px 0
}

.secondary-tools li {
  font-size: 1.3em;
  font-weight: 700;
  padding: 6px 0
}

.secondary-tools ul li a:link,
.secondary-tools ul li a:visited {
  color: #26587b;
  text-decoration: none
}

.secondary-tools ul li a:active,
.secondary-tools ul li a:hover {
  color: #429fba
}

.secondary-tools form {
  margin: 0 0 15px
}

.secondary-tools form ul {
  list-style-type: none;
  margin: 0
}

.secondary-tools form fieldset,
.secondary-tools form ul,
.secondary-tools form ul li {
  display: inline-block;
  text-align: center;
  vertical-align: middle
}

.secondary-tools form fieldset input[type=text],
form fieldset input[type=tel] {
  font-size: 1.2em
}

.secondary-tools form button,
.secondary-tools form input[type=submit] {
  font-size: 12px;
  font-weight: 700;
  padding: 6px;
  position: relative;
  margin-left: -10px
}